@import "./variables";
.you-can {
    display: flex;
    justify-content: center;
    gap: 0 67px;
    margin-bottom: 180px;
    &__content {
        width: 610px;
        display: flex;
        flex-direction: column;
        gap: 30px 0;
        position: relative;
        .ellipse1 {
            position: absolute;
            width: 73px;
            height: 73px;
            z-index: -111;
            top: -15px;
            left: -30px;
        }
        .ellipse2 {
            position: absolute;
            width: 30px;
            height: 30px;
            right: 0;
            top: 50%;
        }
    }
    &__heading {
        color: $primary-color;
        font-size: 32px;
        font-family: Poppins;
        font-weight: 500;
        line-height: 160%;
        span {
            color: $secondary-color;
        }
    }
    &__desc,
    &__link {
        color: $light-blue;
        font-size: 20px;
        font-family: Poppins;
        width: 600px;
        font-weight: 400;
        line-height: 180%;
        letter-spacing: 0.48px;
    }
    &__link {
        font-size: 18px;
    }
    &__image {
        position: relative;
        .rect1,
        .rect2 {
            position: absolute;
            border-radius: 20px;
        }
        .rect1 {
            width: 138px;
            height: 138px;
            background-color: #23BDEE;
            z-index: -1;
            top: -20px;
            left: -20px;
        }
        .rect2 {
            width: 231px;
            height: 231px;
            z-index: -1;
            right: -20px;
            bottom: -20px;
            background-color: #F3AC50;
        }
        img {
            width: 560px;
        }
    }
}

@media screen and (min-width: 425px) and (max-width: 726px) {
    .you-can {
        flex-direction: column;
        align-items: center;
        gap: 67px;
        padding: 0 28px;
        &__content {
            width: 94%;
            .ellipse1 {
                width: 60px;
                height: 60px;
            }
            .ellipse2 {
                top: 60%;
            }
        }
        &__heading {
            font-size: 28px;
        }
        &__desc,
        &__link {
            width: 100%;
        }
        &__image {
            img {
                width: 100%;
            }
            .rect1 {
                width: 120px;
                height: 120px;
            }
            .rect2 {
                width: 180px;
                height: 180px;
            }
        }
    }
}

@media screen and (min-width: 319px) and (max-width: 425px) {
    .you-can {
        flex-direction: column;
        align-items: center;
        gap: 67px;
        padding: 0 28px;
        margin-bottom: 120px;
        &__content {
            width: 94%;
            .ellipse1 {
                width: 60px;
                height: 60px;
            }
            .ellipse2 {
                top: 60%;
            }
        }
        &__heading {
            font-size: 28px;
        }
        &__desc,
        &__link {
            width: 100%;
        }
        &__image {
            img {
                width: 100%;
            }
            .rect1 {
                width: 120px;
                height: 120px;
            }
            .rect2 {
                width: 180px;
                height: 180px;
            }
        }
    }
}
